<p class="lead">
  Hi, I'm Richard Schneeman. I write code for Heroku and this blog.
  Ruby Hero,<br />
  Created <a href='https://codetriage.com'>CodeTriage.com</a>,<br />
  I run <a href='http://keeprubyweird.com'>@keeprubyweird</a> &amp;<br />
  maintain <a href='github.com/rails/sprockets'>Sprockets</a>.<br />
  I'm married to Ruby, literally.
</p>

<a class="sidebar-nav-item" href="/talks.html">📢 Conference Talks</a>
<a class="sidebar-nav-item" href="http://eepurl.com/bbuvuz">✉️ Mailing List</a>
<a class="sidebar-nav-item" href="https://twitter.com/schneems">🐣 Twitter</a>
<a class="sidebar-nav-item" href="https://github.com/schneems">🐙 GitHub</a>
<a class="sidebar-nav-item" href="/feed.xml">✨ RSS</a>
