<p class="lead">
  I built <a href='https://www.codetriage.com'>CodeTriage.com</a>, an app get help devs contribute to Open Source. I run a quirky conf in ATX: <a href='https://keeprubyweird.com'>@keeprubyweird</a>. I code for Heroku &amp; I'm married to Ruby, literally. I write about code, performance, and programming practices.
</p>
<a class="sidebar-nav-item" href="/mailinglist">✉️ Join my mailing List</a>
<a class="sidebar-nav-item" href="https://twitter.com/schneems">🐣 @-me on Twitter</a>
<a class="sidebar-nav-item" href="/feed.xml">✨ Subscribe to my RSS</a>
<a class="sidebar-nav-item" href="/talks.html">🎤 Watch my conference Talks</a>
<a class="sidebar-nav-item" href="https://github.com/schneems">🐙 Fork me on GitHub</a>

<hr />
<center>
<img src="{%  asset_path 'schneems-profile.png' %}" style="border-radius: 50%; max-width:60%" />
© Richard Schneeman
</center>