<p class="">
  I code for Heroku &amp; I'm married to Ruby, literally. I built <a href='https://www.codetriage.com'>CodeTriage.com</a>, the easiest way to get started contributing to Open Source. I run a quirky conf in Austin, Texas <a href='https://keeprubyweird.com'>@keeprubyweird</a>. <br />
  This is where I write about programming practices, performance, and debugging.
</p>
<a class="sidebar-nav-item" href="/mailinglist"><span class="emoji">✉️ </span> Join my mailing List</a>
<a class="sidebar-nav-item" href="https://twitter.com/schneems"><span class="emoji">🐣</span> @-me on Twitter</a>
<a class="sidebar-nav-item" href="/feed.xml"><span class="emoji">✨</span> Subscribe to my RSS</a>
<a class="sidebar-nav-item" href="/talks.html"><span class="emoji">🎤</span> Watch my Conf Talks</a>
<a class="sidebar-nav-item" href="https://github.com/schneems"><span class="emoji">🐙</span> Fork me on GitHub</a>


<div class='copyright'>
  <p>
  © Richard Schneeman
  </p>
</div>