<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <!-- CSS -->
  <link rel="stylesheet" href="{% asset_path 'application.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700">
  <script src="{% asset_path 'application.js' %}" async></script>


  <!-- Icons -->
  <link rel="shortcut icon" href="{% asset_path 'favicon.ico' %}">

  <!-- Feed -->
  <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom feed">

  <script src="//load.sumome.com/" data-sumo-site-id="a658207c92bb7cb45c1d7827aad47e57786f057648b1e4abc330fd37129f4c8c" async="async"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-26526218-1', 'auto');
    ga('send', 'pageview');

  </script>

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@schneems"/>
  <meta name="twitter:title" content="{% if page.title == "Home" %}{{ site.title | escape }}{% else %}{{ page.title | escape }}{% endif %}" />
  <meta name="twitter:image" content="{% if page and page.image %}{{ site.url | append: '/assets/posts/img/' | append: page.image }}{% else %}{{ site.url }}{%  asset_path 'opengraph.png' %}{% endif %}" />
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />


  <meta property="og:image" content="{% if page and page.image %}{{ site.url | append: '/assets/posts/img/' | append: page.image }}{% else %}{{ site.url }}{%  asset_path 'opengraph.png' %}{% endif %}" />

</head>
