<p class="hide-in-mobile">
I created CodeTriage.com, <a href='https://www.codetriage.com'>a platform for contributing to Open Source</a>. To date we've helped over 66,000+ developers get started on their Open Source Journey. I code for <a href="https://www.heroku.com">Heroku</a> &amp; I'm married to Ruby, literally.
</p>

<div class="sidebar-links">
  <a class="sidebar-nav-item" href="/mailinglist"><span class="emoji">✉️ </span> Join my mailing List</a>
  <a class="sidebar-nav-item" href="https://twitter.com/schneems"><span class="emoji">🐣</span> @-me on Twitter</a>
  <a class="sidebar-nav-item" href="/feed.xml"><span class="emoji">✨</span> Subscribe to my RSS</a>
  <a class="sidebar-nav-item" href="/talks.html"><span class="emoji">🎤</span> Watch my Conf Talks</a>
  <a class="sidebar-nav-item" href="https://github.com/schneems"><span class="emoji">🐙</span> Fork me on GitHub</a>
  <a class="sidebar-nav-item" href="/about"><span class="emoji">🤠</span> About me</a>
</div>

<p class="hide-in-mobile">
  <hr />
  ❶ I'm in the top 50 contributors to <a href="https://contributors.rubyonrails.org">Ruby on Rails</a>.<br /><br />
  ❷ I help maintain the <a href="https://rubygems.org/profiles/schneems">Puma webserver and Sprockets asset library</a>.<br /><br />
  ❸ My pick for 2024 presidential primary is <a href="https://elizabethwarren.com/">Elizabeth Warren</a>.<br /><br />
</p>

<div class='copyright hide-in-mobile'>
  <p>
  © Richard Schneeman
  </p>
</div>
