<p class="hide-in-mobile">
</p>

<div class="sidebar-links">
  <a class="sidebar-nav-item" href="/mailinglist"><span class="emoji">✉️ </span> Join my mailing List</a>
  <a class="sidebar-nav-item" rel="me" href="https://ruby.social/@Schneems"><span class="emoji">🐘</span>Toot me on
    Mastodon</a>
  <a class="sidebar-nav-item" href="/talks.html"><span class="emoji">🎤</span> Watch my Conf Talks</a>
  <a class="sidebar-nav-item" href="https://github.com/schneems"><span class="emoji">🐙</span> Fork me on GitHub</a>
  <a class="sidebar-nav-item" href="/about"><span class="emoji">🤠</span> Read about me</a>
  <a class="sidebar-nav-item" href="/feed.xml"><span class="emoji">✨</span> Subscribe to my RSS</a>
  <a class="sidebar-nav-item" href="https://ruby.social/@Schneems"><span class="emoji">🐘</span> @-me on Mastodon</a>
</div>

<p class="hide-in-mobile">
  <hr />
  ❶ Author of <a href="https://howtoopensource.dev">How to Open
    Source (.dev)</a>. A book to take you from coder to contributor.<br /><br />
  ❷ Creator of <a href="https://www.codetriage.com">CodeTriage</a>, a free service helping developers contribute to open
  source.<br /><br />
  ❸ Core committer to <a href="https://github.com/ruby/ruby">ruby/ruby</a>.<br /><br />
  ❹ Rust <a href="https://github.com/heroku/buildpacks/blob/main/docs/ruby/README.md">Cloud Native Buildpack author
  </a>.<br /><br />
  ❺ Married to Ruby, literally.<br /><br />
</p>

<div class='copyright hide-in-mobile'>
  <p>
    © Richard Schneeman
  </p>
</div>
