<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      <a class="sidebar-nav-item" href="http://eepurl.com/bbuvuz">Articles in your Inbox</a>
      <a class="sidebar-nav-item" href="https://twitter.com/schneems">Twitter</a>
      <a class="sidebar-nav-item" href="https://github.com/schneems">GitHub</a>
      <a class="sidebar-nav-item" href="/feed.xml">RSS</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}</p>
  </div>
</div>
