/*
*= require_self
*= require syntax.css
*= require pagination.css
*= require email.css
*= require social.css
*/

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* required for a flexy layout otherwise images will force min width*/
div, p, img {
  min-width: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

a {
  color: #268bd2;
  text-decoration: none;
}
a strong {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

.container {
  padding: 2rem;
  padding-left:  3rem;
}


.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.masthead-title a {
  color: #505050;
}

.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 10rem;
}

.page, .post, .posts {
  /*max-width: 40rem;*/
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 12px;
  display: block;
}

.post-author {
  color: black;
  font-size: 12px;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.center {
  display: block;
  margin: 0 auto;
}

.sidebar {
  font-size: 18px;
  text-align: center;
  /*color: rgba(255,255,255,.5);*/
  color: #25020F;
  background-color: #FF1168;
}


.closed-when-mobile {
  display: none;
}

.hide-in-mobile {
  display: none;
}

.sidebar-nav-mobile {
  display: block;
}

.flexbox-container {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.sidebar {
  flex: 1;
}

.content {
  padding: 2rem;
  flex: 1 1 auto;
}

/* If device width is LESS than or equal to this value */
@media (max-width: 30em) {
  .logo {
    width: 8rem;
  }

  .content {
    padding: 1rem;
    padding-left: 1rem;
  }

  .post-date {
    margin: 0;
  }
}

/* If device width is GREATER than or equal to this value */
@media (min-width: 48em) {
  .only-mobile {
    display: none;
  }

  .flexbox-container {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .content {
    padding: 3rem;
    padding-right: 0;
  }

  .sidebar {
    z-index: 1; /* Stay on top */
    max-width: 14rem;
    min-width: 14rem;
    text-align: left;
    flex: 0 0;
  }

  .closed-when-mobile {
    display: block;
  }

  .hide-in-mobile {
    display: block;
  }

  .sidebar-nav-mobile {
    display: none;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
  margin: 0 1.5rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

.emoji {
  padding-right: 7px;
}

a.sidebar-nav-item:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
}

.copyright {
  margin: 0 auto;
}


.sidebar-links {
  text-align: left;
  width: 12rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.hamburger {
  width: 10em;
  display: block;
  margin: 0 auto;
  padding: 0.2rem;
}

.postcontent {
  flex: 1 1 auto;
  max-width: 40rem;
}

.related {
  max-width: 40rem;
}