.social {
  text-align: left;
}

.social a {
  text-decoration: none;
  margin: 0.5rem;
  margin-left: 0rem;
  color: #FF1168;
}

.social a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
      transform: scale(1.2);
}

.social .icon, .social .button {
  display: inline-block;
  vertical-align: top;
}

.social a {
  display: inline-block;
}

.discuss {
  @extend h2;
  display: inline;
}


.social-name {
  font-size: 16px;
  vertical-align: top;
}

.icon {
  height: 24px;
  width: 24px;
}

.hn-padding {
  padding: 2.5px;
}

.tophr {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* teeny tiny screen */
@media (max-width: 20em) {
  .social-name {
    font-size: 14px;
  }
}
.socialsidebar {
  flex: 0 0 0;
  min-width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.social-prompt {
  font-weight: bolder;
}
